$mainColor: #0B3A82;
$secondaryColor: #FF8000;

$deepBlue: #00303f;
$lightBlue: #1044b9;
$lightCoffee: #d0af85;
$deepRed: #810000;
$midRed: #bb0808;
$lightRed: #dc4040;
$lighterGray: #e8e8e8;
$lightGray: #8f8f8f;
$midGray: #666;
$darkGray: #212121;
$white: #fff;


$paddingAmount: 50px;
$borderRadiusAmount: 10px;
$midBorderRadiusAmount: 20px;
$largeBorderRadiusAmount: 30px;